<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Ingresa tu Email:</ion-label>
        <ion-input [(ngModel)]="cambioPassword.email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ingresa tu nueva Password:</ion-label>
        <ion-input
          [(ngModel)]="cambioPassword.nuevapassword"
          type="password"
        ></ion-input>
      </ion-item>
      <ion-button
        class="btn btn-primary"
        expand="full"
        (click)="CambiarPassword()"
        >Cambiar Pasword
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
